{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello Twig of Piezo !! ✅</h1>

    <canvas id="myChart" width="500" height="200"></canvas>

    {% set pvalue = []%}
    {% for p in piezo %}
    {% set pvalue = pvalue|merge([p.piezovalue]) %}
    {% endfor %}

    {% set pdate = []%}
    {% for p in piezo %}
    {% set pdate = pdate|merge([p.piezodate]) %}
    {% endfor %}

    {% set pdate = []%}
    {% for p in piezodate %}
    {% set pdate = pdate|merge([p|date("Y/m/d")]) %}
    {#{% set pdate = pdate|join('", "') %}#}
    {#{% set pdate = pdate.format('YYYY/MM/DD') %}#}
    {% endfor %}

    {#{{dump(pvalue)}}#}
    {{dump(pdate)}}
    {{dump(piezodate)}}

    <script>

    

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{{ pdate|join(', ') }}],
            datasets: [{
                label: 'niveau de la nappe',
                
                data: [{{pvalue|join(', ') }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: [ {
        //    display: true,
            type: 'string',
            
          }
        ],
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    </script>

</div>
{% endblock %}
