{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello Twig of Piezo !! ✅</h1>

    <canvas id="myChart" width="400" height="400"></canvas>

    {% set pvalue = []%}
    {% for p in piezo %}
    {% set pvalue = pvalue|merge([p.piezovalue]) %}
    {% endfor %}

    {% set pdate = []%}
    {% for p in piezo %}
    {% set pdate = pdate|merge([p.piezodate|date('Y-m-d')]) %}
    {% endfor %}


    {{dump(pvalue)}}
    {{dump(pdate)}}

    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{{ pdate|join(', ') }}],
            datasets: [{
                label: 'niveau de la nappe',
                
                data: [{{pvalue|join(', ') }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    </script>

    {#<ul>
    {% for p in piezovalue %}
    <li>{{ p }}</li>
    </ul>
    {% endfor %}#}

</div>
{% endblock %}
